
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

div#content aside {
    width: 80vw;
}

article {
    flex: 33.33%
}

article div {
    float: left;
    justify-content: center;
    width: 33.33%;
    padding: 20px;
    text-align: center;
    
}

article div img {
    width: 100%;
}
