.results {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  flex-basis: 22%; /* Adjust the width to fit four items with some space */
  margin: 0 1%; /* Add margin between movie items */
  box-sizing: border-box;
  background-color: red;
}

.load-more-button {
  width: 100%; /* Venytä nappi koko leveydelle */
  padding: 15px; /* Lisää tyhjää tilaa ylä- ja alapuolelle */
  margin-top: 20px; /* Lisää tilaa yläpuolelle */
  background-color: rgb(0, 26, 255); /* Vaihda taustaväri haluamaksesi */
  color: white; /* Vaihda tekstiväri kontrastin varmistamiseksi */
  border: none; /* Poista reunus */
  border-radius: 5px; /* Pyöristä kulmat */
  font-size: 16px; /* Aseta fontin koko */
}