.results {
  display: flex;
  flex-wrap: wrap;

}

.movie {
  width: 25.00%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  /* Pyöristää kulmat */
  background-color: rgba(52, 52, 52, 0.3);
  /* Lisää väri ja läpinäkyvyys kehykselle */
  padding: 40px;
  text-align: center;
}

.load-more-button {
  margin-left: 33%;
  width: 30%; /* Venytä nappi koko leveydelle */
  padding: 15px; /* Lisää tyhjää tilaa ylä- ja alapuolelle */
  margin-top: 40px; /* Lisää tilaa yläpuolelle */
  margin-bottom: 40px;
  background-color: rgba(52, 52, 52, 0.3); /* Lisää väri ja läpinäkyvyys kehykselle */
  text-shadow: 2px 1px 4px rgb(0, 0, 0);
  color: rgb(180, 0, 0); /* Vaihda tekstiväri kontrastin varmistamiseksi */
  border: none; /* Poista reunus */
  font-weight: 600;
  border-radius: 5px; /* Pyöristä kulmat */
  font-size: 18px; /* Aseta fontin koko */
  outline: 3px solid rgb(0, 0, 0); /* Musta reunus */
}

.load-more-button:hover {
  color: #fcff44;
}

.movie-poster {
  border-radius: 15px;
  /* Pyöristää elokuvan kuvakkeen kulmat */
  transition: transform 0.3s; /* Lisää siirtymä hover-tilassa */
}

.movie-poster:hover {
  transform: scale(1.1); /* Suurennuskerroin 1.1 */
}

h2 {
  color: rgb(180, 0, 0);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-size: 22px;
  margin-top: 18px;
  display: block;
}

p {
  color: rgb(180, 0, 0);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 10px;
}