.results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.movie-link {
  text-decoration: none;
}

.movie {
  background-color: rgba(52, 52, 52, 0.3);
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  margin-top: 10px;
}

.movie:hover .movie-poster {
  transform: scale(1.1);
  /* Suurennuskerroin 1.1 hover-tilassa */
  transition: transform 0.3s;
}

.movie h2 {
  font-size: 18px;
  margin-top: 15px;
  color: rgb(207, 207, 207);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  color: rgb(136, 125, 125);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.movie-poster {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
  margin-bottom: 15px;
}

.load-more-button {
  margin-left: 33%;
  width: 30%;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgba(52, 52, 52, 0.3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(207, 207, 207);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  border: none;
  font-weight: 400;
  border-radius: 5px;
  font-size: 18px;
}

.load-more-button:hover {
  transform: scale(1.1);
  background-color: rgba(52, 52, 52, 0.6);
}

input[type="text"] {
  margin-top: 20px;
  margin-left: 15px;
  padding: 8px 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(207, 207, 207);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-size: 18px;
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: rgba(52, 52, 52, 0.3);
  height: 50px;
  width: 450px;
}

input[type="text"]:hover {
  transform: scale(1.1);
  /* Suurennuskerroin*/
  background-color: rgba(52, 52, 52, 0.8);
}

select {
  /* Muokkaa hakulaatikon ulkonäköä tarpeidesi mukaan */
  padding: 8px 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(207, 207, 207);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-size: 18px;
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: rgba(52, 52, 52, 0.3);
  margin-bottom: 40px;
  height: 50px;
  margin-left: 15px;
}

select:hover {
  transform: scale(1.1);
  /* Suurennuskerroin*/
  background-color: rgba(52, 52, 52, 0.8);
}

button[type="submit"] {
  background-color: rgba(52, 52, 52, 0.3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(207, 207, 207);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  border-radius: 4px;
  /* Pyöristetyt reunat */
  padding: 10px 20px;
  /* Sisäinen marginaali */
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 25px;
  margin-left: 15px;
}

button[type="submit"]:hover {
  transform: scale(1.1);
  /* Suurennuskerroin*/
  background-color: rgba(52, 52, 52, 0.8);
}