
.tulokset {
    display: flex;
    flex-wrap: wrap;  
  }

  h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(207, 207, 207);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
    display: block;
  }

  p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(119, 119, 119);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 18px;
    margin-top: 10px;
  }
  
  .sarja {
    width: 25.00%; 
    padding: 10px;
    box-sizing: border-box; 
    border-radius: 30px; /* Pyöristää kulmat */
    background-color: rgba(52, 52, 52, 0.3); /* Lisää väri ja läpinäkyvyys kehykselle */
    padding: 40px;
    text-align: center;
  }

  .load-more-button {
    margin-left: 33%;
    width: 30%; /* Venytä nappi koko leveydelle */
    padding: 15px; /* Lisää tyhjää tilaa ylä- ja alapuolelle */
    margin-top: 40px; /* Lisää tilaa yläpuolelle */
    margin-bottom: 40px;
    background-color: rgba(52, 52, 52, 0.3); /* Lisää väri ja läpinäkyvyys kehykselle */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(207, 207, 207);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    border: none; /* Poista reunus */
    font-weight: 400;
    border-radius: 5px; /* Pyöristä kulmat */
    font-size: 18px; /* Aseta fontin koko */
  }

  .load-more-button:hover {
    transform: scale(1.1); /* Suurennuskerroin 1.1 */
    background-color: rgba(52, 52, 52, 0.6);
  }


.series:hover {
  transform: scale(1.05); /* Enlarge the series picture on hover */
}


.sarjan-kuva:hover {
  transform: scale(1.1); /* Suurennuskerroin 1.1 */
}

