.results {
  display: flex;
  flex-wrap: wrap;
}

.series {
  width: 25.00%; 
  padding: 10px;
  box-sizing: border-box; 
  transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.series:hover {
  transform: scale(1.05); /* Enlarge the series picture on hover */
}

.load-more-button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
