button {
  position: small;
  top: 1%;
  right: 1%;
  height: 1%;
  width: 5%;
  border-radius: 2%;
  overflow: hidden; 
  cursor: pointer;
  background-color: #333; 
}



.dropdown-menu {
    width: 160px; /* Muuta leveyttä tarpeidesi mukaan */
    background-color: #333; /* Aseta taustaväri tumman harmaaksi */
    color: #fff; /* Aseta tekstin väri valkoiseksi */
    text-shadow: 0 0 1px #fff; /* Lisää vaalea varjo tekstin taustalle */
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    border-radius: 5px; /* Pyöristää kaikki reunat 10 pikseliä */
  }

 .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }

  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }

