.dropdown-menu {
    width: 200px; /* Muuta leveyttä tarpeidesi mukaan */
    background-color: rgba(52, 52, 52, 0.8);
    color: #fff; /* Aseta tekstin väri valkoiseksi */
    text-shadow: 0 0 1px #fff; /* Lisää vaalea varjo tekstin taustalle */
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    border-radius: 5px; /* Pyöristää kaikki reunat 10 pikseliä */
    position: absolute;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

 .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }

  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }

  .myprofile:hover {
    transform: scale(1.1); /* Suurennuskerroin 1.1 */
  }

