footer {

    background-color: var(--grey-color);
    display: inherit;
    justify-content: center;
    align-items: center;
    height: 70px;
}

footer p {
    width: auto;
    position: absolute;
    margin-top: 20px;
    padding: 0 40px;
    display: flex;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    width: 60px; /* Muuta kuvien leveyttä tarvittaessa */
    height: auto; /* Automaattinen korkeuden määritys leveyden suhteessa */
    align-items: center;
    /*margin-right: 80px;
    margin-left: 80px; */
    margin-top: auto;
}