nav{
    background-color: var(--grey-color);
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;

}
nav a {
    display: inline-block;
    padding: 1em var(--gutter);
    text-decoration: none;

}
nav a:hover{
    color: var(--accent-color);
}
nav div{
display: inline-block;
}

.dropdown-menu {
    left: auto; /* Poista automaattinen asettelu */
    right: 0; /* Aseta oikea reuna 0:ksi */
  }
  
  @media (max-width: 768px) {
    /* Muokkaa responsiivista asettelua tarvittaessa */
    .dropdown-menu {
      left: 50%; /* Aseta vaaka-asento 50%:iin */
      transform: translateX(-50%); /* Siirrä vaakatasossa 50% vasemmalle */
    }
  }
